<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_InterfacePhotosApp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_InterfacePhotosApp"
                contract="InterfacePhotosApp" name="BasicHttpBinding_InterfacePhotosApp" />
        </client>
    </system.serviceModel>
</configuration>